@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-color: #f9fafb;
  }
}

@media (min-width: 760px) and (max-width: 990px) {
    #navbutton{
        display: none;
    }
    #menubtn{
        display: flex;
    }
}


@media (min-width: 200px) and (max-width: 400px) {
    #logo{
        font-size: medium;
    }
    #contect{
        font-size: small;
    }
}

